@media screen and (min-width: 924px) {
  .hero {
    &__header {
      &__h1 {
        font-size: 5em;
      }
      &__paragraph {
        font-size: 3em;
      }
    }
    &__description {
      max-width: 550px;
    }
  }

  .webDevelopment {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    &::before {
      right: 10%;
      top: 3%;
      width: 250px;
      height: 250px;
    }
    &__img {
      order: 1;
      width: 30%;
    }
    &__content {
      order: 0;
      width: 30%;
      &__h2 {
        font-size: 2.5em;
      }
    }
  }

  .about {
    &__img {
      width: 60%;
      margin-left: 55px;
    }
    &__blocks {
      flex-direction: row;
      justify-content: flex-end;
      align-items: stretch;
      gap: 20px;
      transform: translate(-5%, -35%);
      &__item {
        width: 20%;
      }
    }
  }

  .mobile_break {
    display: none;
  }
  .desktop_break {
    display: block;
  }
}
