.hero {
  height: 100vh;
  background-image: url(../assets/heroBg.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  &__header {
    &__paragraph {
      font-weight: bold;
      padding: 10px;
      font-size: 1.2em;
    }
    &__h1 {
      font-weight: bold;
      font-size: 3em;
      line-height: 90%;
      text-transform: uppercase;
    }
  }
  &__description {
    padding: 50px;
    line-height: 150%;
  }
  &__btn {
    background-color: #fac23d;
    color: #efefef;
    width: 80vw;
    @include btn;
    &:hover {
      background-color: #000;
    }
  }
}

.webDevelopment {
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 125px 10vw;
  position: relative;
  top: 0;
  left: 0;
  &::before {
    position: absolute;
    content: "";
    top: 5%;
    right: 0;
    width: 150px;
    height: 150px;
    background-color: #fac23d;
    border-radius: 100%;
  }
  &__img {
    width: 85%;
    order: 0;
  }
  &__content {
    order: 1;
    width: 82%;
    &__btn {
      @include btn;
      background-color: #000;
      color: #fff;
      font-size: 1em;
      max-width: 200px;
      &:hover {
        color: #000;
        background-color: #fac23d;
      }
    }
    &__description {
      font-weight: 500;
      line-height: 170%;
      margin-bottom: 50px;
    }
    &__h2 {
      padding: 25px 0;
    }
  }
}

.underline {
  text-decoration: underline;
  color: #000;
}

.mobile_break {
  display: block;
}
.desktop_break {
  display: none;
}
